.profile-container {
  color: #898989;

  .welcome {

    margin-bottom: 20px;

    h1 {
      margin-top: 30px;
      margin-bottom: 20px;

      span {
        color: #51BED3;
      }

    }
  }



}

.item-container-profile {
  display: flex;
  flex-wrap: wrap;

  .item-card-profile {
    margin-right: 30px;
    margin-bottom: 30px;

    .card {

      .profile-thumbnail {
        height: 150px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .card-body {
        background: #898989;
        color: black;

        .card-title {
          font-size: 15px;
          font-weight: bold;

        }

        .card-text {
          font-size: 14px;
        }

      }

    }

  }
}

.right-content {

  text-align: center;

  h2 {
    margin-bottom: 15px;

    span {
      color: #51BED3;
    }

  }

  h3 {
    margin-bottom: 15px;
    font-size: 20px;

    span {
      color: #51BED3;
    }

  }

  .list-item-btn {
    background: #51BED3;
    border: none;
  }

  .info-wrapper {

    text-align: center;


    .lib {
      width: 80%
    }
  }

  .messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .message-field {
      background: #898989;
      color: black;
      margin-top: 30px;
      border-radius: 35px;
      padding: 20px;
      text-align: center;
      width: 80%;

      h4 {
        margin-top: 10px;
        font-weight: bold;
      }

      a {
        color: rgb(40, 90, 137);
        display: block;
        font-weight: bold;
      }

      .swap-button {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 75%;
      }
    }
  }

}