* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.item {
  margin-bottom: 20px;
  
}

a {
  text-decoration: none;
}

.thumbnail {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.spinner {
  height: 300px;
}