@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Raleway', serif;

}

body {
  margin: 0;
  background: linear-gradient(black 11%, transparent 15%) no-repeat;
}

.nav {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 10px;
    
    .nav-item{
      margin-right: 50px;
      width: 150px;
      text-align: center;
    
      .nav-link {
        color: white;
        font-weight: 600;
        &:hover, &.active {
          background-color: beige !important;
          color: #000;
          font-weight: 600;
        }
      }
    }
  
}

.hero {
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  img {
    height: 75%;
    
  }

  h1 {
    font-weight: bold;
    color: #ffffff;
  }

  .hero-text{
    color: #ffffff;
  }

}




.item {
  margin-bottom: 40px;
  text-align: center;

  .card-body{
    color: black;
    background: beige;

    .card-title{
      font-size: 25px;
      font-weight: 600;
    }

  }

 

}

.singleImage {
  max-width:100%;
  max-height: 100%;
}

.imageInfoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:nth-child(2) {
    margin-top: 50px; 
  }
}

.itemInfo {
  padding: 70px;
}

.description {
margin-top : 50px ;
max-width: 500px
}

.swapNow{
padding: 7px;
margin-right: 10px;

}


a {
  text-decoration: none;
}

.card {
overflow: hidden;
border: none;
border-radius: 35px;
}

.thumbnail {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.spinner {
  height: 300px;
}

.form-page {  
  form {
    background-color: lightblue;
    border-radius: 8px;
    padding: 20px;
    label{
      display: block;
    }
    input, textarea {
      width: 100%;
      margin-bottom: 15px;
      border: 1px solid rgba(0,0,0,0.2);
      padding: 5px;
    }
  }
}

#hero {
  border-bottom: 5px;
  margin-top: 80px;
  position: relative;
  background-image: '../images/hagl.png';
  background-color: red;
  background-size: 30px;

  .haglLogo {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.item-container-profile{
  display: flex;
  flex-wrap: wrap;

  .item-card-profile {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

